# Tips and Examples of Filtering Dataframes

In [1]:
# Import Pandas and Numpy
import pandas as pd
import numpy as np

# Download fictitious dataset 
- This is a fictitious dataset for an online bike shop that I created and donated to the Creative Commons domain
- Questions about this dataset can be seen here....

In [3]:
df = pd.read_csv('https://github.com/troygreen/exploring-python-libraries/raw/master/numpy/online-shop.csv')

# Let's filter down to only items purchased in the transaction with a unit_price at or above $10

In [23]:
df[(df['unit_price'] >= 10)].head()

# IF YOU WANT TO SAVE RESULTS AS A NEW DATAFRAME USE THE CODE SNIPPET BELOW
# df = df[(df['unit_price'] >= 10)]

,row_id,order_id,order_date,days to ship,ship_date,order_status,category_id,category_dsc,sub_category_id,sub_category_dsc,...,order_quantity,sales,unit_price,product_margin,customer_id,customer_first_name,customer_last_name,email_newsletter,city,state
72,28764,17426,12/1/2015,0,12/1/2015,complete,2,Accessories,1,Bells,...,1,$13.50,$13.50,0.45,48,Jakub,Evans,Yes,Chula Vista,California
93,98,98,7/28/2012,0,7/28/2012,complete,1,Accessories,1,Bells,...,2,$17.98,$8.99,0.37,62,Oscar,Morgan,Yes,Corona,California
127,28896,17586,12/1/2015,0,12/1/2015,complete,1,Accessories,1,Bells,...,2,$17.98,$8.99,0.37,88,Oliver,Sanders,Yes,Fontana,California
266,20940,7888,8/6/2012,0,8/6/2012,complete,1,Accessories,1,Bells,...,2,$17.98,$8.99,0.37,188,Isak,Tran,Yes,Ontario,California
284,27105,15372,8/19/2015,0,8/19/2015,complete,2,Accessories,1,Bells,...,1,$13.50,$13.50,0.45,206,Carlos,Andrews,No,Pomona,California

# Now, let's pull all items purchased in California and in the "Bells" sub-category.

In [24]:
df[(df['state'] == 'California') &
       (df['sub_category_dsc'] == 'Bells')].head()

,row_id,order_id,order_date,days to ship,ship_date,order_status,category_id,category_dsc,sub_category_id,sub_category_dsc,...,order_quantity,sales,unit_price,product_margin,customer_id,customer_first_name,customer_last_name,email_newsletter,city,state
72,28764,17426,12/1/2015,0,12/1/2015,complete,2,Accessories,1,Bells,...,1,$13.50,$13.50,0.45,48,Jakub,Evans,Yes,Chula Vista,California
93,98,98,7/28/2012,0,7/28/2012,complete,1,Accessories,1,Bells,...,2,$17.98,$8.99,0.37,62,Oscar,Morgan,Yes,Corona,California
127,28896,17586,12/1/2015,0,12/1/2015,complete,1,Accessories,1,Bells,...,2,$17.98,$8.99,0.37,88,Oliver,Sanders,Yes,Fontana,California
266,20940,7888,8/6/2012,0,8/6/2012,complete,1,Accessories,1,Bells,...,2,$17.98,$8.99,0.37,188,Isak,Tran,Yes,Ontario,California
284,27105,15372,8/19/2015,0,8/19/2015,complete,2,Accessories,1,Bells,...,1,$13.50,$13.50,0.45,206,Carlos,Andrews,No,Pomona,California

# Only include customers that contain the letters "an" in their last name and save as a new dataframe

In [27]:
last_names = df[df['customer_last_name'].str.contains("an", case=False)]

# Did you notice in the filter above I used "case = False"?
- That means we aren't requiring the string value to be case sensitive, meaning the "an" could be upper or lower case
- Pull 20 samples to see for yourself

In [29]:
df.customer_last_name.head(20)

72         Evans
93        Morgan
127      Sanders
266         Tran
284      Andrews
285      Andrews
286      Andrews
288      Andrews
312      Chapman
315      Chapman
341     Franklin
342     Franklin
409        Banks
410        Banks
812      Pittman
814      Pittman
845    Castaneda
846    Castaneda
931         Khan
933         Khan
Name: customer_last_name, dtype: object

# Now, let's make the string value requirement case sensitive

In [30]:
last_names = df[df['customer_last_name'].str.contains("an", case=True)]

In [33]:
last_names.customer_last_name.head(20)

72          Evans
93         Morgan
127       Sanders
266          Tran
312       Chapman
315       Chapman
341      Franklin
342      Franklin
409         Banks
410         Banks
812       Pittman
814       Pittman
845     Castaneda
846     Castaneda
931          Khan
933          Khan
1126     Mcmillan
1242      Stanton
1243      Stanton
1332       Chaney
Name: customer_last_name, dtype: object